<p id="notice"><%= notice %></p>

<h1 class="mb-6 text-5xl font-bold text-purple-600 page-name">Resources</h1>

<div class="max-w-full p-4 mb-2 bg-white border rounded-lg">
  <%= render(TableComponent.new) do |component| %>
    <% component.with(:thead) do %>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Repository</th>
        <th colspan="3"></th>
      </tr>
    <% end %>
    <% component.with(:tbody) do %>
      <% @resources.each do |resource| %>
        <tr>
          <td>
            <strong><%= resource.title %></strong>
          </td>
          <td><%= link_to resource.link, resource.link, class: "underline" %></td>
          <td><%= link_to resource.repository, resource.repository, class: "underline" %></td>
          <td><%= link_to 'Show', resource %></td>
          <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
          <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</div>
  <section class="mt-4 section">
    <%= link_to 'New Resource', new_resource_path, class: "button ~neutral !high" %>
  </section>
