<p id="notice"><%= notice %></p>
<div class="card ~neutral !low p-0">
  <div class="p-4">
    <h1 class="heading mb-4">Resources</h1>
  <%= render(TableComponent.new) do |component| %>
    <% component.with(:thead) do %>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Repository</th>
        <th colspan="3"></th>
      </tr>
    <% end %>
    <% component.with(:tbody) do %>
      <% @resources.each do |resource| %>
        <tr>
          <td><%= resource.title %></td>
          <td><%= resource.link %></td>
          <td><%= resource.repository %></td>
          <td><%= link_to 'Show', resource %></td>
          <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
          <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <section class="section ~neutral p-4">
    <%= link_to 'New Resource', new_resource_path, class: "button ~info !high" %>
  </section>
</div>
