<!DOCTYPE html>
<html>
  <head>
    <title>Sharptools</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <div class="max-w-screen-lg mx-auto px-6 py-4 md:px-4 md:py-10">
      <%= render NavbarComponent.new %>
      <%= render SeparatorComponent.new %>
      <main aria-label="Content" style="z-index: 1" class="relative">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
